/* 
Project Name: Monthly Resolutions
Project for: One Month
Author: S Andrew Reid | sandrewreid.com
*/


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

body{
	background: url('../images/notebook.png'); /* add a fallback color of #d6d6d6 */
	color: #000000;
	font-family: 'Lato', sans-serif;
	line-height: 1.7; /* line-height is unit-less */
	font-size: 100%;
	background-attachment: fixed;
}

h1{
letter-spacing: -5px;
font-size: 55px;
margin-bottom: 10px;

}

h2{
font-size: 32px;
margin: 0px;

}

blockquote{
	font-style: italic;
	padding: 0 0 0 10px;
	margin: 0 0 0 0;
	border-left: 5px #bbb solid;

}

a {
  color: #ff3300;
  text-decoration: none;
  font-weight: bold;
}


/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/

.container {
	width: 950px;
	margin: 0 auto 0 auto;
}


.main {
	background: #FFF;
	width: 600px;
	padding: 25px;
	margin-right: 10px;
	font-size: 12px;
	float: left;
}

.sidebar {
	background: #FFF;
	width: 340px;
	padding: 25px;
	border-left: 3px solid #BBB;
	border-bottom: 3px solid #BBB;
	float: left;
}

		.sidebar img {
			border-radius: 300px;
		}

/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/

.tagline {
	margin-top: -30px;
	margin-bottom: 30px;
}


.post {
	margin-bottom: 50px;
}

.post-meta {
	color: #999;
	padding: 10px 0px;
	border-top: #BBB solid 1px;
}

.widget {
	margin-bottom: 45px;
}

/*----------------------------------------------------------------------------- 
04=NAV  
-----------------------------------------------------------------------------*/
.nav-container {
  background: #ff3300;
}

nav ul {
  padding-left: 0;
}

nav ul li {
	float:left;
	list-style: none;
	font-size: 20px;
}

nav ul li a {
	color: white;
	margin: 16px;
	padding: 16px;
	display: block;
}

nav ul li a:hover{ 
  color: #000;
  transition: color 0.3s ease-in;
}